html,
body {
  margin: 0;
  font-family: sans-serif;
    scroll-behavior: smooth;
  
}

main {
  overflow-x: hidden;
  display: flex;
}

  



section {  
  display: flex;
  justify-content: center;
  align-items: self-end;
  font-size: 4ch;
}

section:nth-child(even) {
  background-color: rgba(0,0,0,);
}


.img-car{
    height: 100vh; 
    padding-top: 6vh;
    padding-bottom: 6vh;
    padding-right:16px;
}    

.didascalia{
   
    /*border: solid 1px #0f0f0f;
    border-radius: 20px;*/
    margin-bottom: 5vh;
    width: 400px;
}

.title{
    margin: 0 0 0 200;
    min-width: 65vw;
    display: flex;
    justify-content: left;
    align-items: center;
}

.arrow-scroll{
    position:fixed;
    bottom: 0;
    width: 100vw;
    padding-bottom: 10px;
}

#prova{
    width: 40px;
    height: 40px;
   
    margin: auto;
}

i {
  color: #0f0f0f;
  margin: auto;
    font-size: 25px;

    
}

.arrow1 {
    animation: slide1 1s ease-in-out infinite;
    margin: 6 12 0 12;
}

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 10px);
  }
}

h1{
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: 900;
    font-size: 110px;    
    letter-spacing:8px;
    color: #1f1f1f;
    text-transform: uppercase;
    padding: 0;    
}

h2{
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: 900;
    font-size: 60px;    
    letter-spacing:8px;
    color: #1f1f1f;
    text-transform: uppercase;
    padding: 0;    
}


h3{
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: 700;
    font-size: 24px;    
    letter-spacing:0.5;
    color: #1f1f1f;
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 0px;
}

h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;    
    color: #1f1f1f;
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 20px;
}

h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 13px; 
    margin-top: 7px;
    letter-spacing:0;
    color: #1f1f1f;
    text-transform: uppercase;    
}

/*.mark-title{
    background-color: #1f1f1f;
    padding: 3px 10px 0px 10px;
    margin-left: -8px;
    color: white;
    border-radius: 8px;    
}*/

